<!--
<div class="container mt-5">
  <div class="d-flex justify-content-center row">
      <div class="col-md-8">
          <div class="d-flex flex-column comment-section">
              <div class="bg-white p-2">
                  <div class="d-flex flex-row user-info"><img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40">
                      <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">Marry Andrews</span><span class="date text-black-50">Shared publicly - Jan 2020</span></div>
                  </div>
                  <div class="mt-2">
                      <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  </div>
              </div>
              <div class="bg-white">
                  <div class="d-flex flex-row fs-12">
                      <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span></div>
                      <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span></div>
                      <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Share</span></div>
                  </div>
              </div>
              <div class="bg-light p-2">
                  <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40"><textarea class="form-control ml-1 shadow-none textarea"></textarea></div>
                  <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" type="button">Post comment</button><button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel</button></div>
              </div>
          </div>
      </div>
  </div>
</div>  -->



<div class="container py-5">
    <div class="row" *ngIf="(post$ | async) as post">
      <!-- Post Content Column -->
      <div class="col-lg-12">
        <!-- Title -->
        <h2 class="mt-4">{{post.title}}</h2>
        <!-- Author -->
        <p class="lead">
          by
          <a href="#">{{post.username}}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Posted on {{post.createdDate | date:'MMMM d, y, h:mm:ss a'}}</p>

        <hr>

        <!-- Preview Image -->
        <!-- <img class="img-fluid rounded" src="http://placehold.it/900x300" alt=""> -->

        <!-- <hr> -->

        <!-- Post Content -->
        <p>{{post.description}}</p>
        <hr>

        <!-- <div class="d-flex justify-content-around">
          <span class="d-inline" *ngIf="(likes$ | async).length > 0"><a href="#"><i class="fa fa-thumbs-o-up mr-1"></i>{{ (likes$ | async).length }}</a></span>
          <div>
          <span class="d-inline" *ngIf="(comments$ | async).length > 0">{{ commentsCount }} comments</span>
          <span class="d-inline ml-2" *ngIf="(comments$ | async).length > 0 && (likes$ | async).length > 0">2 shares</span>
        </div>
        </div> -->

        <app-likecommentsharecount [comments]="(comments$ | async).length"
        [likes]="(likes$ | async).length" 
        [shares]="2"
        [isBlog]="false"
        ></app-likecommentsharecount>

        <hr>

        <!-- Like Share COmment -->
        <div class="bg-white">
            <div class="d-flex flex-row fs-12">
                <div class="like p-2 cursor" [class.likedColor]="post.isCurrentUserLiked"><i class="fa fa-thumbs-o-up" ></i><span class="ml-1">Like</span></div>
                <div class="like p-2 cursor" (click)="showCommentBox = !showCommentBox"><i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span></div>
                <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Share</span></div>
            </div>
        </div>

    
        <!-- Comments Form -->
        
        <app-create-comment *ngIf="showCommentBox"></app-create-comment>
        
        <!-- Single Comment -->
        <hr>

        <div class="media mb-4 py-3" id="commentsSection" *ngFor="let item of comments$ | async as list">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">{{item.username}}</h5>
            {{item.description}}
          </div>
        </div>

      </div>



    </div>
    <!-- /.row -->

  </div>
