
<div class="container py-5">
    <div class="row" *ngIf="isDataLoaded">
      <!-- Post Content Column -->
      <div class="col-lg-12">
        <!-- Title -->
        <h2 class="mt-4">{{post.title}}</h2>
        <!-- Author -->
        <p class="lead">
          by
          <a href="#">{{post.username}}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <div class="d-flex justify-content-between font-italic" style="font-size: smaller;">
        <div>Posted on {{post.createdDate | date:'MMMM d, y, h:mm:ss a'}}</div>
        <div>
          <ng-container *ngIf="post.accountId === +accountId">
            <a href="" class="ml-3 likedColor" (click)="EditPost(post.postId)">Edit <i class="fa fa-edit ml-1"></i></a>
            <a href="" class="ml-3 text-danger" (click)="DeletePost(post.postId)">Delete<i class="fa fa-trash-o ml-1"></i></a>
          </ng-container>
        </div>
      </div>
        <hr>

        <p>{{post.description}}</p>
        <hr>

        <!-- <div class="d-flex justify-content-around">
          <span class="d-inline" *ngIf="(likes$ | async).length > 0"><a href="#"><i class="fa fa-thumbs-o-up mr-1"></i>{{ (likes$ | async).length }}</a></span>
          <div>
          <span class="d-inline" *ngIf="(comments$ | async).length > 0">{{ commentsCount }} comments</span>
          <span class="d-inline ml-2" *ngIf="(comments$ | async).length > 0 && (likes$ | async).length > 0">2 shares</span>
        </div>
        </div> -->

        <app-likecommentsharecount [comments]="comments.length"
        [likes]="likes.length" 
        [shares]="2"
        [isBlog]="false"
        ></app-likecommentsharecount>

    <hr>

        <!-- Like Share COmment -->
        <!-- <div class="bg-white">
            <div class="d-flex flex-row fs-12">
                <div class="like p-2 cursor" [class.likedColor]="post.isCurrentUserLiked" (click)="likePost(post)"><i class="fa fa-thumbs-o-up" ></i><span class="ml-1">Like</span></div>
                <div class="like p-2 cursor" (click)="showCommentBox = !showCommentBox"><i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span></div>
                <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Share</span></div>
            </div>
        </div> -->

        <app-like-comment-bar 
        [post]="post" 
        [showCommentBox]="showCommentBox"
        (postLiked)="likePost($event)"
        (toggleCommentBox)="toggleCommentBox($event)"
        ></app-like-comment-bar>

        <!-- Comments Form -->
        
        <app-create-comment *ngIf="showCommentBox" 
        (commentAdd)="addComment($event)"
        [commnetObj]="commentToEdit"
        ></app-create-comment>
        
        <!-- Single Comment -->
        

        <div class="media mb-4 py-3" id="commentsSection" *ngFor="let item of comments">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <div class="d-flex justify-content-md-between">
              <h5 class="mt-0">{{item.userName}}</h5>
              
             
            </div>      
              
            
            {{item.description}}
            
            <div class="font-italic justify-content-lg-start" style="font-size: small;">
              <span>{{ item.createdDate | date:'MMMM d, y, h:mm:ss a' }}</span>
              <ng-container *ngIf="item.accountId === +accountId">
                <a class="ml-2" style="color: cadetblue !important;" (click)="EditComment(item)">Edit <i class="fa fa-edit ml-1"></i></a>
                <a class="ml-2 text-danger" (click)="DeleteComment(item)">Delete<i class="fa fa-trash-o ml-1"></i></a>
              </ng-container>
            </div>
          </div>
        </div>

      </div>



    </div>
    <!-- /.row -->

  </div>
